.queue {
  display: flex;
  margin: 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  overflow-x: auto;
  white-space: nowrap;
  p {
    color: white;
    padding: 0 2rem;
  }
  .queue-list {
    width: 85%;
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 2rem;
    padding-right: 1rem;
    li {
      font-size: 14px;
      color: rgba(255, 255, 255, 0.721);
      &:first-child {
        color: white;
        font-weight: 500;
      }
    }
  }
}
