.form-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: white;
  .current-form-label {
    font-weight: bold;
    display: flex;
    justify-content: center;
    padding: 1rem 0;
  }
  .current-form {
    width: 80%;
  }
  p {
    user-select: none;
  }
  .form-button-group {
    padding: 1rem 0;
    gap: 2rem;
    display: flex;
    justify-content: space-evenly;
    button {
      text-align: center;
    }
  }
  .form-page-counter {
    display: flex;
    justify-content: flex-end;
    padding: 1rem 0;
    p {
      margin: 0 1rem;
    }
  }
}
