.navbar {
  background-color: rgba(40, 38, 38, 0.973);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8vh;
  font-family: monospace;
  h1 {
    padding-left: 2rem;
    user-select: none;
    color: rgb(62, 213, 112);
  }
  .link {
    text-decoration: none;
    color: white;
    padding-right: 2rem;
    user-select: none;
    &:hover {
      color: rgba(255, 255, 255, 0.801);
    }
    &:active {
      color: rgba(255, 255, 255, 0.545);
    }
    button {
      user-select: none;
      all: unset;
      .icon {
        padding-right: 2rem;

        color: white;
        font-size: x-large;
      }
      .icon:hover {
        color: rgba(255, 255, 255, 0.801);
      }
      .icon:active {
        scale: 1.1;
        color: rgba(255, 255, 255, 0.545);
      }
    }
  }
  button:hover {
    cursor: pointer;
  }
}
