.pdf-body {
  color: #ffffff;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  padding: 20px;
  .pdf-item {
    flex: 0 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    background: rgba(112, 112, 112, 0.432);
    padding: 15px;
    border-radius: 5px;
    gap: 10%;
  }
  input[type="checkbox"] {
    scale: 1.5;
  }
  .pdf-button {
    border: none;
    background: none;
    color: #ffffff;
    &:hover {
      color: #666;
      cursor: pointer;
    }
    &:active {
      color: #363535;
      cursor: pointer;
    }
  }
}

.fa-icon {
  font-size: 24px;
  &:hover {
    color: #666;
  }
}

.button-group {
  display: flex;
  justify-content: center;
  gap: 10%;
  button {
    cursor: pointer;
    margin: 10px 0;
  }
  .link {
    text-decoration: none;
  }
}

@media (max-width: 768px) {
  .pdf-body {
    gap: 0.5rem;
    .pdf-item {
      flex: 0 90%;
    }
  }
  .fa-icon {
    font-size: 18px;
  }
  .button-group {
    button {
      padding: 10px;
      height: 30px;
      width: 20%;
    }
  }
}
